.carousel {
  text-align: center;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  button {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 16px;
    outline: 0;
    margin: -1px;
    &:focus, &:active {
      outline: 0;
    }
    i {
      color: #0a75c2;
    }
    &.disabled {
      i {
        color: #ccc;
      }
    }
  }
  .count {
    font-family: 'Roboto-Bold', sans-serif;;
    font-size: 12px;
    margin: 0;
    flex: 1;

    .preposition {
      font-family: 'Roboto', sans-serif;
    }
  }
}