/*
inspired by:
https://github.com/minamarkham/sassy-starter/
https://github.com/kachunchau/smacss-boilerplate
https://github.com/davidrapson/scss-toolkit
*/
@import 'settings', 'mixins', 'base', 'helpers', 'modules/island','modules/horizontal-list', 'modules/buttons', 'layouts/page', 'states', 'bootstrap', 'carousel';


#angular-debug-bar {
  z-index: 9999;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: -200px;
  height: 200px;
  color: #555;
  font-size: 16px;
  background: #fafafa;
  border-top: 1px solid #ECECEC;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2); }
  #angular-debug-bar, #angular-debug-bar * {
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #angular-debug-bar:before, #angular-debug-bar:after, #angular-debug-bar *:before, #angular-debug-bar *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  #angular-debug-bar.show {
    bottom: 0; }
    #angular-debug-bar.show button, #angular-debug-bar.show button:hover {
      top: -33px; }
    #angular-debug-bar.show ul {
      overflow: auto;
      max-height: 200px; }
  #angular-debug-bar button {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: -16px;
    text-align: center;
    font-size: 110%;
    padding: 6px;
    border: none;
    outline: 0;
    background: #03A9F4;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    #angular-debug-bar button:hover {
      top: -33px; }
  #angular-debug-bar ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    width: 90%; }
    #angular-debug-bar ul li {
      padding: 15px;
      width: 20%;
      height: 100px;
      float: left;
      text-align: center; }
      #angular-debug-bar ul li .value-wrapper [class^="icon-"]:before, #angular-debug-bar ul li .value-wrapper [class*=" icon-"]:before {
        font-size: 150%; }
      #angular-debug-bar ul li .value-wrapper .value {
        font-size: 1.8em;
        font-weight: bold;
        border-bottom: 1px dotted; }
      #angular-debug-bar ul li .value-wrapper .unit {
        font-size: 1.2em;
        margin-left: 3px; }
      #angular-debug-bar ul li .label {
        font-size: 1em;
        margin-top: 5px;
        color: #9E9E9E; }
