<h3>alert with message</h3>
<div html-include="tabs.header.html"></div>

<div class="tab-content">
<div class="island tab-pane active" ng-class="{'active':view}">
  <krn-carousel data-on-next-item-show="nextCallback"
                data-on-prev-item-show="prevCallback"
                data-index="index"
                data-array="array"
                data-wrap="wrap"
                caption="caption">
  </krn-carousel>
</div>
<div class="island tab-pane" ng-class="{'active':json}">
  ...
</div>
<div class="island tab-pane" ng-class="{'active':html}">
  ...
</div>