<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="margin-bottom: 0">Runtime settings</h3>
  </div>
  <div class="panel-body">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="wrap">
        Wrap
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="nextCallbackEnabled">
        Next button callback - {{nextDesc}} {{nextVar}}
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="prevCallbackEnabled">
        Previous button callback - {{prevDesc}} {{prevVar}}
      </label>
    </div>
    <div class="form-group">
      <label for="captionInput">Caption</label>
      <input type="text" class="form-control" id="captionInput" ng-model="caption">
    </div>
  </div>
</div>
