<p>all components can be mixed and nested without any limitation </p>
<h3>example of use</h3>
<div html-include="tabs.header.html"></div>
<div class="tab-content">
    <div class="island tab-pane active" ng-class="{'active':view}">
        <panel title="'slider in panel'" class="panel-success">
            <div style="position:relative; height:500px;padding-top:10px;">
                <slider>
                    <slide>
                        <p>first slide</p>
                        <accordion>
                            <h2>header</h2>
                            <panel title="'included panel'">
                                <h4 class="card-title">first</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </panel>
                            <panel title="'included second panel'">
                                <h4 class="card-title">second</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </panel>
                        </accordion>
                    </slide>
                    <slide>
                        <p>second slide</p>
                        <img src="assets/img/img1.png" alt="">
                    </slide>
                    <slide>
                        <p>third slide</p>
                    </slide>
                </slider>
            </div>
        </panel>
    </div>
    <div class="island tab-pane" ng-class="{'active':json}">
    </div>
    <div class="island tab-pane" ng-class="{'active':html}">
        <pre>
      &lt;panel title=&quot;&apos;slider in panel&apos;&quot; class=&quot;panel-success&quot;&gt;&#10;        &lt;div style=&quot;position:relative; height:500px;padding-top:10px;&quot;&gt;&#10;          &lt;slider&gt;&#10;            &lt;slide&gt;&#10;              &lt;p&gt;first slide&lt;/p&gt;&#10;&#10;              &lt;accordion&gt;&#10;                &lt;h2&gt;header&lt;/h2&gt;&#10;                &lt;panel title=&quot;&apos;included panel&apos;&quot;&gt;&#10;                  &lt;h4 class=&quot;card-title&quot;&gt;first&lt;/h4&gt;&#10;                  &lt;p class=&quot;card-text&quot;&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;&#10;                &lt;/panel&gt;&#10;                &lt;panel title=&quot;&apos;included second panel&apos;&quot;&gt;&#10;                  &lt;h4 class=&quot;card-title&quot;&gt;second&lt;/h4&gt;&#10;                  &lt;p class=&quot;card-text&quot;&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;&#10;                &lt;/panel&gt;&#10;              &lt;/accordion&gt;&#10;            &lt;/slide&gt;&#10;            &lt;slide&gt;&#10;              &lt;p&gt;second slide&lt;/p&gt;&#10;              &lt;img src=&quot;assets/img/img1.png&quot; alt=&quot;&quot;&gt;&#10;            &lt;/slide&gt;&#10;            &lt;slide&gt;&#10;              &lt;p&gt;third slide&lt;/p&gt;&#10;            &lt;/slide&gt;&#10;          &lt;/slider&gt;&#10;        &lt;/div&gt;&#10;      &lt;/panel&gt;
    </pre>
    </div>
</div>
