<script type="text/ng-template" id="tabs.header.html">
    <ul class="nav nav-tabs" role="tablist" ng-init="view=true;">
        <li role="presentation" ng-class="{'active':view}">
            <a href="" ng-click="view = true; json = false; html = false;">View</a>
        </li>
        <li role="presentation" ng-class="{'active':json}">
            <a href="" ng-click="view = false; json = true; html = false;">JSON</a>
        </li>
        <li role="presentation" ng-class="{'active':html}">
            <a href="" ng-click="view = false; json = false; html = true;">HTML</a>
        </li>
    </ul>
</script>

<div class="row">
  <div class="col-xs-8" ui-view="content"></div>
  <div class="col-xs-4">
    <div class="panel">
      <div ui-view="layout"></div>
    </div>
    <div class="panel panel-footer-true">
      <div ui-view="runtime"></div>
    </div>
  </div>
</div>

