<ul class="pure-menu">
  <li><a href="#/collapsible">accordion</a></li>
  <li><a href="#/html-include">html include</a></li>
  <li><a href="#/slider">slider</a></li>
  <li><a href="#/alert">alert</a></li>
  <li><a href="#/carousel">carousel</a></li>
</ul>
