<ul class="nav nav-tabs" role="tablist" ng-init="view=true;">
    <li role="presentation" ng-class="{'active':view}">
        <a href="" ng-click="view = true; json = false; html = false;">View</a>
    </li>
    <li role="presentation" ng-class="{'active':json}">
        <a href="" ng-click="view = false; json = true; html = false;">JSON</a>
    </li>
    <li role="presentation" ng-class="{'active':html}">
        <a href="" ng-click="view = false; json = false; html = true;">HTML</a>
    </li>
</ul>
