<!DOCTYPE html>
<html lang="en" ng-app="accordion">
<head>
  <base href="/kitchensink">
  <title>Accordion</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">


  <!-- build:css assets/css/main.css -->
  <link rel="stylesheet" type="text/css" href="/kitchensink/assets/css/main.css">
  <link rel="stylesheet" href="/kitchensink/app/slider/css/app.css">
</head>
<body ng-controller="AccordionCtrl as ctrl">


  <div class="container">
    <h1>Accordion</h1>

    <accordion>
      <panel title="p.title" ng-repeat="p in ctrl.panels">
        {{p.content}}
      </panel>
    </accordion>

  </div>

<angular-debug-bar></angular-debug-bar>



  <script src="/kitchensink/vendor/angular/angular.js"></script>
  <script src="/kitchensink/vendor/angular-sanitize/angular-sanitize.js"></script>
  <script src="/kitchensink/vendor/angular-aria/angular-aria.js"></script>

  <script type="text/javascript" src="../components/perfomance-stats/ng-perf.js"></script>
  <script type="text/javascript" src="../components/perfomance-stats/ng-load-perf.js"></script>

  <script src="/kitchensink/app/collapsible/static_page/app.js"></script>
  <script src="../components/accordion/accordion.js"></script>
</body>
</html>