.navbar-brand {
  padding: 10px 15px !important;
}
a.dropdown-toggle {
  padding: 8px 15px !important;
  border: 1px solid;
  margin-top: 5px;
  border-radius: 20px;
}
h1, h2, h3, h4 {
  margin-top: 0 !important;
}
.l-page {
  .pure-g > div {
    @include box-sizing();
  }
}

.performance {
  border: 1px solid;
  padding: 15px;
  margin: 0 auto;
  width: 80%;
  background-color: rgba(#000, .1);
  & * {
    font-size: 12px;
  }
  & h3 {
    font-size: 18px;
  }
}