<script type="text/ng-template" id="static.html">
    <h3>insertion {{$index}}</h3>
    <p><strong>Creating a New UI Common Component</strong></p>
</script>
<h4>fast include static template</h4>
<div html-include="tabs.header.html"></div>
<div class="tab-content">
    <div class="island tab-pane active" ng-class="{'active':view}">
        <p>count:5000</p>
        <p>execution time: {{ctrl.time}}</p>
        <section ng-timeit="ctrl.time">
            <div ng-repeat="i in ctrl.arr track by $index">
                <div html-include="static.html"></div>
            </div>
        </section>
    </div>
    <div class="island tab-pane" ng-class="{'active':json}">
        <pre>{{ctrl.arr | json}}</pre>
    </div>
    <div class="island tab-pane" ng-class="{'active':html}">
        <pre>
      &lt;section ng-timeit=&quot;ctrl.time&quot;&gt;&#10;        &lt;div ng-repeat=&quot;i in ctrl.arr track by $index&quot;&gt;&#10;          &lt;div html-include=&quot;static.html&quot;&gt;&lt;/div&gt;&#10;        &lt;/div&gt;&#10;      &lt;/section&gt;
    </pre>
    </div>
</div>