<div>

  <div id="perfStats">
    <div id="perfStatsPanel">
      <h3>ANGULAR STATS</h3>
      <table class="table table-condensed">
        <tbody>
        <tr>
          <td>Total Scopes:</td>
          <td><span id="scopes">-</span></td>
        </tr>
        <tr>
          <td>Total Watchers:</td>
          <td><span id="watchers">-</span></td>
        </tr>
        <tr>
          <td>Dirty Checks:</td>
          <td><span id="dirty-checks">-</span></td>
        </tr>
        <tr>
          <td>Digest Cycles:</td>
          <td><span id="digest-cycles">-</span></td>
        </tr>
        <tr>
          <td>Digest Cycle (last):</td>
          <td>
            <span id="digest-ms">-</span> ms<br>
            <span id="digest-fps">-</span> FPS
          </td>
        </tr>
        <tr>
          <td>Digest Cycle (avg):</td>
          <td>
            <span id="avg-digest-ms">-</span> ms<br>
            <span id="avg-digest-fps">-</span> FPS
          </td>
        </tr>
        <tr>
          <td>Digest Cycle (max):</td>
          <td>
            <span id="max-digest-ms">-</span> ms<br>
            <span id="max-digest-fps">-</span> FPS
          </td>
        </tr>
        </tbody>
      </table>

      <!-- <h3>PAGELOAD STATS</h3> -->
      <!-- <table class="table table-condensed">
        <tbody>
        <tr>
          <td>Head Load:</td>
          <td><span id="head-load">-</span> ms</td>
        </tr>
        <tr>
          <td>Body Load:</td>
          <td><span id="body-load">-</span> ms</td>
        </tr>
        <tr>
          <td>Footer Load:</td>
          <td><span id="footer-load">-</span> ms</td>
        </tr>
        <tr>
          <td>Vendor Script Load:</td>
          <td><span id="vendor-load">-</span> ms</td>
        </tr>
        <tr>
          <td>App Load:</td>
          <td><span id="app-load">-</span> ms</td>
        </tr>
        <tr>
          <td>Metrics Load:</td>
          <td><span id="metrics-load">-</span> ms</td>
        </tr>
        <tr>
          <td>Time To End-of-Page:</td>
          <td><span id="time-to-eop">-</span> ms</td>
        </tr>
        <tr>
          <td>Time To Angular:</td>
          <td><span id="time-to-ng">-</span> ms</td>
        </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
