<div class="row">
  <div class="col-xs-6">
    <h2>Accordion Panel</h2>
  </div>
  <div class="col-xs-6 text-right">
    <a href="app/collapsible/static_page/accordion-panel.html" class="btn btn-primary" target="_blank">Open New Window</a>
  </div>
</div>
<section class="row">
  <div class="col-xs-12">
    <div html-include="tabs.header.html"></div>
    <div class="tab-content">
      <div class="island tab-pane active" ng-class="{'active':view}">
        <accordion>
          <panel title="p.title" ng-repeat="p in ctrl.panels">
            {{p.content}}
          </panel>
        </accordion>
      </div>
      <div class="island tab-pane" ng-class="{'active':json}">
        <pre>{{ctrl.panels | json}}</pre>
      </div>
      <div class="island tab-pane" ng-class="{'active':html}">
        <pre>
          &lt;accordion&gt;&#10;          &lt;panel title=&quot;p.title&quot; ng-repeat=&quot;p in ctrl.panels&quot;&gt;&#10;            {{p.content}}&#10;          &lt;/panel&gt;&#10;        &lt;/accordion&gt;
        </pre>
      </div>
    </div>
  </div>
</section>
<angular-debug-bar></angular-debug-bar>
