<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="margin-bottom: 0">Layout Settings</h3>
  </div>
  <div class="list-group">
    <a class="list-group-item" ui-sref=".panels" ui-sref-active="active" href="#/collapsible/panels">Panels that acts independently</a>
    <a class="list-group-item" ui-sref=".accordion" ui-sref-active="active" >Panels inside accordion wrapper</a>
  </div>
</div>
