<div class="row">
    <div class="col-xs-6">
        <h2>Accordion Panel</h2>
    </div>
    <div class="col-xs-6 text-right">
        <a href="app/collapsible/static_page/accordion.html" class="btn btn-primary" target="_blank">Open New Window</a>
    </div>
</div>
<section class="row">
    <div class="col-xs-12">
        <div html-include="tabs.header.html"></div>
        <div class="tab-content">
            <div class="island tab-pane active" ng-class="{'active':view}">
                <panel title="ctrl.panel1.title">{{ctrl.panel1.content}}</panel>
                <panel title="'header as a string'">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <!--</panel>-->
            </div>
            <div class="island tab-pane" ng-class="{'active':json}">
                <pre>{{ctrl.panel1 | json}}</pre>
            </div>
            <div class="island tab-pane" ng-class="{'active':html}">
                <pre>&lt;panel title=&quot;ctrl.panel1.title&quot;&gt;{{ctrl.panel1.content}}&lt;/panel&gt;</pre>
                <pre>&lt;panel title=&quot;&apos;header as a string&apos;&quot;&gt;&#10;  &lt;h4 class=&quot;card-title&quot;&gt;Special title treatment&lt;/h4&gt;&#10;  &lt;p class=&quot;card-text&quot;&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;&#10;  &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Go somewhere&lt;/a&gt;&#10;&lt;/panel&gt;</pre>
            </div>
        </div>
    </div>
</section>
<angular-debug-bar></angular-debug-bar>
