<div class="panel panel-default">
    <div class="panel-heading">
        <h3 style="margin-bottom: 0">Runtime settings</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="headerInput">Header</label>
            <input type="text" class="form-control" id="headerInput" ng-model="ctrl.panel1.title">
        </div>
        <div class="form-group">
            <label for="contentInput">Content</label>
            <input type="text" class="form-control" id="contentInput" ng-model="ctrl.panel1.content">
        </div>
    </div>
</div>
