/*
inspired by:
https://github.com/minamarkham/sassy-starter/
https://github.com/kachunchau/smacss-boilerplate
https://github.com/davidrapson/scss-toolkit
*/
/* Fonts
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: 'Open Sans', sans-serif; }

/* Defaults
   ========================================================================== */
html {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

::-webkit-input-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

img.pure-img {
  vertical-align: middle;
  max-width: 60%;
  display: inline; }

code {
  color: #ff4136; }

h3 {
  font-weight: normal;
  font-size: 22px;
  font-size: 1.375rem; }

.pure-menu.pure-menu-horizontal {
  background: #ddd; }

a {
  color: #0074d9;
  text-decoration: none;
  line-height: inherit; }

a:focus,
a:hover {
  color: #005bab; }

a.pure-button:focus,
a.pure-button:hover {
  color: #fff; }

pre code {
  color: #111;
  background-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  display: block;
  padding: 0.5em; }

h4 {
  font-size: 21px;
  font-size: 1.3125rem; }

.text-center, .hlist {
  text-align: center; }

/**
 * Island module that adds padding.
*/
.island {
  padding: 1em; }

.island3 {
  padding: 3em; }

.island-panel {
  background-color: #ddd;
  padding: 2em;
  font-size: 20px;
  font-size: 1.25rem; }

.hlist {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0 none;
  padding: 0 0 2em 0; }
  .hlist > li {
    display: inline-block;
    margin-left: 1em; }
    .hlist > li a.tweet {
      position: relative;
      top: -3px; }

.button-xsmall {
  font-size: 70%; }

.button-small {
  font-size: 85%; }

.button-large {
  font-size: 110%; }

.button-xlarge {
  font-size: 125%; }

.button-expanded {
  width: 100%;
  padding: 1rem 0;
  margin: 3px; }

.navbar-brand {
  padding: 10px 15px !important; }

a.dropdown-toggle {
  padding: 8px 15px !important;
  border: 1px solid;
  margin-top: 5px;
  border-radius: 20px; }

h1, h2, h3, h4 {
  margin-top: 0 !important; }

.l-page .pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.performance {
  border: 1px solid;
  padding: 15px;
  margin: 0 auto;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.1); }
  .performance * {
    font-size: 12px; }
  .performance h3 {
    font-size: 18px; }

    @font-face {
      font-family: "debugbar";
      src: url("../font/debugbar.eot?11439546");
      src: url("../font/debugbar.eot?11439546#iefix") format("embedded-opentype"), url("../font/debugbar.woff?11439546") format("woff"), url("../font/debugbar.ttf?11439546") format("truetype"), url("../font/debugbar.svg?11439546#debugbar") format("svg");
      font-weight: normal;
      font-style: normal; }

    [class^="icon-"]:before, [class*="adb-icon-"]:before {
      font-family: "debugbar";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
      /* you can be more comfortable with increased icons size */
      /* font-size: 120%; */ }

    .adb-icon-cog:before {
      content: "\e800"; }

    .adb-icon-headphones:before {
      content: "\e801"; }

    .adb-icon-home:before {
      content: "\e802"; }

    .adb-icon-eye:before {
      content: "\e803"; }

    #angular-debug-bar {
      z-index: 9999;
      position: fixed;
      width: 100%;
      left: 0;
      bottom: -200px;
      height: 200px;
      color: #555;
      font-size: 16px;
      background: #fafafa;
      border-top: 1px solid #ECECEC;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
      -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
      box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2); }
      #angular-debug-bar, #angular-debug-bar * {
        -webkit-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        #angular-debug-bar:before, #angular-debug-bar:after, #angular-debug-bar *:before, #angular-debug-bar *:after {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
      #angular-debug-bar.show {
        bottom: 0; }
        #angular-debug-bar.show button, #angular-debug-bar.show button:hover {
          top: -33px; }
        #angular-debug-bar.show ul {
          overflow: auto;
          max-height: 200px; }
      #angular-debug-bar button {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: -16px;
        text-align: center;
        font-size: 110%;
        padding: 6px;
        border: none;
        outline: 0;
        background: #03A9F4;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
        #angular-debug-bar button:hover {
          top: -33px; }
      #angular-debug-bar ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: block;
        width: 90%; }
        #angular-debug-bar ul li {
          padding: 15px;
          width: 20%;
          height: 100px;
          float: left;
          text-align: center; }
          #angular-debug-bar ul li .value-wrapper [class^="icon-"]:before, #angular-debug-bar ul li .value-wrapper [class*=" icon-"]:before {
            font-size: 150%; }
          #angular-debug-bar ul li .value-wrapper .value {
            font-size: 1.8em;
            font-weight: bold;
            border-bottom: 1px dotted; }
          #angular-debug-bar ul li .value-wrapper .unit {
            font-size: 1.2em;
            margin-left: 3px; }
          #angular-debug-bar ul li .label {
            font-size: 1em;
            margin-top: 5px;
            color: #9E9E9E; }
