<div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        <img src="assets/images/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" ng-click="openDropdown = !openDropdown">
        <li class="dropdown" ng-class="{open : openDropdown}">
          <a href="" class="dropdown-toggle"><span ng-bind-html="state.current.data.title"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="root.collapsible.panels" ui-sref-active="active">collapsible</a></li>
            <!-- <li><a ui-sref="root.htmlInclude.page" ui-sref-active="active">html include</a></li> -->
            <li><a ui-sref="root.slider.page" ui-sref-active="active">slider</a></li>
            <li><a ui-sref="root.alert.page" ui-sref-active="active">alert</a></li>
            <li><a ui-sref="root.carousel.page" ui-sref-active="active">carousel</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
