<h3>alert with message</h3>
<div html-include="tabs.header.html"></div>

<div class="tab-content">
<div class="island tab-pane active" ng-class="{'active':view}">
  <div>
    <button ng-click="alert.showModal()">Show alert</button>
  </div>
</div>
<div class="island tab-pane" ng-class="{'active':json}">
  <pre>
    angular.factory('factoryName', function (modalFactory) {
      return modalFactory({
        controller: '',
        controllerAs: '',
        templateUrl: ''
      });
    })
  </pre>
</div>
<div class="island tab-pane" ng-class="{'active':html}">
  <pre>
    &lt;div class=&quot;modal demo-modal&quot;&gt;
      &lt;h3&gt;alert&lt;/h3&gt;
      &lt;a class=&quot;demo-modal-close&quot; href ng-click=&quot;modal.deactivate()&quot;&gt;x&lt;/a&gt;
      &lt;div ng-bind=&quot;text&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  </pre>
  <pre>
    &lt;div class=&quot;modal demo-modal&quot;&gt;&#10;      &lt;h3&gt;alert&lt;/h3&gt;&#10;      &lt;a class=&quot;demo-modal-close&quot; href ng-click=&quot;modal.deactivate()&quot;&gt;x&lt;/a&gt;&#10;      &lt;div&gt;{{text}}&lt;/div&gt;&#10;    &lt;/div&gt;
  </pre>

</div>
