<div class="modal fade in show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button ng-click="modal.deactivate()" class="close">x</button>
        <h3>alert</h3>
      </div>
      <div class="modal-body">
        <div ng-bind-html="text"></div>
      </div>
    </div>
  </div>
</div>
