<section class="island">
    <h4>runtime settings</h4>
    <fieldset class="input-group">
        <label>message for alert</label>
        <input type="text" ng-model="alert.text" class="form-control">
    </fieldset>
</section>
