<h3>Slider</h3>

<div html-include="tabs.header.html"></div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" ng-class="{'active':view}">
    <div style="position:relative;width:600px;height:400px;">
      <slider>
        <slide ng-repeat="image in slider.images">
          <img ng-src="assets/img/{{image.src}}">
        </slide>
      </slider>
    </div>
  </div>
  <div class="tab-pane" ng-class="{'active':json}">
    <pre>{{slider.images | json}}</pre>
  </div>
  <div class="tab-pane" ng-class="{'active':html}">
    <pre>
      &lt;slider&gt;
        &lt;slide ng-repeat=&quot;image in slider.images&quot;&gt;
          &lt;img ng-src=&quot;assets/img/{{image.src}}&quot;&gt;
        &lt;/slide&gt;
      &lt;/slider&gt;
    </pre>
  </div>
</div>
